@import "../../styles/colors.scss";

.hourly-weather {
  margin: 0% 2.5% 0% 2.5%;
  width: 95%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;

  &__hour {
    height: 200px;
    margin: 5px;
    border: 1px solid $secondary-blue-color;
    border-radius: 2px;
    position: relative;
  }

  &__time {
    margin: 0px 6px 0px 6px;
  }

  &__day-indicator {
    position: absolute;
    top: 5px;
    width: 100%;
  }

  &__weather-icon {
    margin-top: 15px;
    height: 48px;
    width: 48px;
    background-size: 48px;
  }

  &__humidity-icon {
    height: 32px;
    width: 32px;
    background-image: url("../../img/humidity.png");
    background-size: 32px;
    position: absolute;
    top: 125px;
    left: 18%;
  }

  &__humidity-stats {
    position: absolute;
    top: 160px;
    text-align: center;
    width: 100%;
  }

  &__temperature {
    position: absolute;
    top: 80px;
    width: 100%;
  }

  &__change-page-btn {
    height: 120px;
    width: 60px!important;
    align-self: center;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: $secondary-blue-color;
    color: $secondary-light-color;
    filter: drop-shadow(-1px 1px 0.08rem $shadow-color);
  }
}
