@import "../../styles/colors.scss";

.destination-city {
  text-align: center;
  width: 95%;
  margin: 0% 2.5% 0% 2.5%;
  position: relative;

  &__header {
    font-size: 16px;
    color: $secondary-blue-color;
    margin: 8px 0px 8px 0px;
  }

  &__btn-container {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &__btn {
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: $primary-blue-color;
    margin: 0px 10px 0px 10px;
    filter: drop-shadow(-1px 1px 0.08rem $shadow-color);
  }

  &__selector {
    height: 120px;
    width: 80%;
    margin: 0% 10% 0 10%;
    border: 3px solid $secondary-blue-color;
    border-radius: 4px;
    filter: drop-shadow(-0.4px 0.5px 0.05rem $shadow-color);
    position: absolute;
    background-color: $secondary-light-color;
    top: -300px;
    display: none;
  }

  &__selected-city-name {
    font-size: 24px;
    margin-top: 5px;
  }

  &__close-btn-container {
    display: flex;
    justify-content: flex-end;
  }

  &__close-btn {
    background-image: url("../../img/close-icon.png");
    height: 24px;
    width: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left 50% bottom 50%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  &__searchfield {
    border: none;
    width: 95%;
    height: 30px;
    font-size: 24px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: $secondary-blue-color;
    color: $secondary-light-color;
    filter: drop-shadow(-1px 1px 0.08rem $shadow-color);
  }

  &__searchfield:focus {
    outline: none;
    background-color: $primary-dark-color;
    filter: drop-shadow(-1px 1px 0.08rem $shadow-color);
  }

  &__searchfield::placeholder {
    color: $secondary-light-color;
  }

  .active {
    display: block;
  }

  &__weather-compare-section {
    height: 600px;
    width: 80%;
    margin: 0% 10% 0 10%;
    border: 3px solid $secondary-blue-color;
    border-radius: 4px;
    filter: drop-shadow(-0.4px 0.5px 0.05rem $shadow-color);
    position: absolute;
    background-color: $secondary-light-color;
    top: -470px;
    z-index: 2;
  }

  &__main-content {
    display: flex;
  }

  &__starting-city {
    margin: 1%;
  }

  &__destination-city {
    margin: 1%;
  }
}
