@import "../src/styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300;400;700&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

.App {
  width: 60%;
  text-align: center;
  margin: 0% 20% 0% 20%;
  
  border: 3px solid $secondary-light-color;
  border-radius: 4px;
  background-color: $secondary-light-color;
  height: 1000px;

  .loading-message {
    font-size: 24px;
    margin: 40px 0px 40px 0px;
  }

  .onload-error {
    font-size: 24px;
    margin: 15px;
  }
}

@media (max-width: 769px) {
  .App {
    width: 80%;
    margin: 0px 10% 0px 10%;
  }
}

@media (max-width: 600px) {
  .App {
    height: 1100px;
  }
}

@media (max-width: 500px) {
  .App {
    height: 1250px;
  }
}


@media (max-width: 426px) {
  .App {
    width: 96%;
    margin: 5px;
  }
}

@media (max-width: 426px) {
  .App {
    width: 95%;
    margin: 5px;
  }
}
